<div class="col-xs-12 ms-4">
    <p>{{this.content}}</p>
    <div class="d-flex justify-content-between">
        <a href="/posts/{{postId}}/comments/{{this._id}}/replies/new">Reply</a>
        <p class="text-muted"><small>By: {{this.author.username}}</small></p>
    </div>
    {{#each comment.comments}}
        {{> comment comment=this postId=../postId}}
    {{/each}}
</div>