<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-sm-6 col-sm-offset-3">
            <a href="{{post.url}}" class="lead text-decoration-none">{{post.title}}</a>
            <p>{{post.summary}}</p>
        </div>
    </div>
</div>