<div class="container">
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-sm-4 col-sm-offset-4">
                <form action="/sign-up" method="post">
                    <fieldset>
                        <legend>Sign Up</legend>
                        <div class="form-group">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" name="username" class="form-control" id="username"
                                   placeholder="Username"/>
                        </div>
                        <div class="form-group mt-2">
                            <label for="post-url" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="password"
                                   placeholder="Password"/>
                        </div>

                        <div class="text-end mt-2">
                            <button type="submit" class="btn btn-primary">Create User</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>